.userTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: none;
}

.userTableThead {
    background-color: #3f5161;
    text-align: center;
}



td,
th {
    border: 1px solid #212529;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #212529;
}

tr:hover {
    background-color: #485159;
}