.login-fom-con {
    width: 100%;
    min-height: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1rem;


}

#lf-title {
    border-left: 3.5px solid #70bbfd;
    font-size: 1em;
    width: 100%;
    margin-top: 1rem;
    color: #74bbfa;
    text-align: left;
    padding: 2rem 0rem 2rem 1rem;
}

input {
    border-radius: 3px;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    color: #787882;
    font-size: 0.6em !important;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #787882;
    opacity: 0.7;
}

input[type="submit"] {
    transition: 0.2s;
    cursor: pointer;
    background-color: #74bbfa;
    color: white;
}

/* Login/SignUP form msg "already have account?" */
.login-fom-con p,
.login-fom-con label {
    align-self: flex-start;
    color: #787882;
    text-decoration: none;
    font-size: 1.2rem;
    pointer-events: none;
}

input[type="button"] {
    padding: 1rem 1.5rem;
    color: #787882;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.2s;

}

input[type="button"] {
    margin-right: 0.5em;
    background-color: #74bbfa;
    color: white;
}

input[type="button"]:hover {
    background: transparent;
    color: #787882;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background: transparent;
    color: #787882;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
    border-color: #0f87f2;
}

/* login | registration form input's space */
.login-fom-con input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* Input Form Error Message Design */

.login-fom-con input+span {
    align-self: flex-start;
    color: #f25050;
    text-decoration: none;
    font-size: 1.2rem;
    pointer-events: none;
}