#form-con {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    padding: 0rem 1.5rem 1rem 1.5rem;
    margin: auto;
    background-color: #ffffff;

}

.d-none {
    display: none;
}