.usersNav {
    margin-top: 1rem;
    overflow: auto;
    margin-bottom: 2rem;
    margin-top: 15rem;
}

.usersNav button {
    float: right;
    background-color: #0D6EFD;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    border: none;
    margin-left: 0.5rem;
}