.userInputForm {
    width: 90vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F4F7;
    font-size: 2rem;
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 9999;
}

.userInputForm input {
    margin-top: 20px;
}


.userInputForm input[type="email"]::placeholder {
    color: #787882;
    opacity: 0.7;
}


.genCon input {
    width: fit-content;
    font-size: 1rem;
}

.genCon label {
    margin-right: 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.close-model {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: #1A1E21;
}