.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@import "./assets/css/adminPage/usersScreen/userInputForm.module.css";
@import "./assets/css/adminPage/usersScreen/userInputModal.module.css";
@import "./assets/css/adminPage/usersScreen/userTable.module.css";
@import "./assets/css/loginSignupPage/loginScreen.css";
@import "./assets/css/loginSignupPage/registrationForm.css";
@import "./assets/css/loginSignupPage/form/loginForm.css";